@media screen and (max-width: 1200px) {
  .direct_thumb {
    width: 100%;
  }
  .direct_thumb img {
    width: inherit;
  }
  .main_profits td {
    font-size: 24px;
    padding: 30px 10px;
  }
  .deco_gradient, .deco_triangle  {
    height: 85px;
  }
  .deco_gradient.tbody {
    height: calc((85px * 3));
  }
  .container_deco_gradient {
    margin-bottom: -340px;
  }
}

@media screen and (max-width: 1080px) {
  .footer_inner {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .footer_right {
    margin-bottom: 60px;
  }
  .footer_direct {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer_direct-call {
    margin-left: 0;
  }
  .footer_direct span:first-child {
    margin-bottom: 20px;
  }
  .footer_left, .footer_right {
    width: unset;
  }
  .footer_cross {
    margin: 0 20px;
  }
}

@media screen and (max-width: 1140px) {
  #main_2 .profits_sel_item {
    flex-direction: column;
    max-width: 486px;
  }
  #main_2 .profits_item:first-child {
    margin-bottom: 24px;
  }
  #main_2 .profits_item {
    width: inherit;
    max-height: 240px;
  }
  #main_2 .profits_item a > img {
    margin-top: -30px;
  }
  #main_2 .profits_item_text {
    top: 30px;
    left: 30px;
  }
  #main_2 .profits_item-title img {
    margin-right: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .container_process {
    width: 480px;
  }
  .process_main {
    flex-direction: column;
    align-items: center;
  }
  .process_main div {
    width: unset;
  }
  .process {
    text-align: center;
    margin-bottom: 120px;
  }
  .process_step {
    justify-content: center;
    margin-top: 30px;
  }
  #end-1 .process_step {
    margin-bottom: 30px;
  }
  #end-1 .process_step span {
    text-align: center;
  }
  #end-1 .process_step-num {
    margin-right: 0;
  }
  #end-1 .process_step-content p:first-child {
    text-align: center;
  }
}

@media screen and (max-width: 920px) {
  #ad_2 br.responsive {
    display: block;
  }
}
@media screen and (max-width: 900px) {
  body {
    padding-top: 0;
  }
  .ad_main img {
    width: 100%;
  }
  .qna {
    flex-direction: column-reverse;
    text-align: center;
  }
  .qna-title {
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
  }
  .qna-num {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .qna-content {
    padding: 0;
  }
  .qna-img {
    margin-left: 0;
  }
  .case {
    width: calc((100% - 24px) / 2);
  }
  .case:nth-child(-n + 2) {
    width: 100%;
  }
  .case:nth-child(-n + 2) img {
    height: unset;
    width: 100%;
  }
  #profits_1 .profits_sel_item {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #profits_1 .profits_item {
    max-width: 580px;
    width: 100%;
  }
  #profits_1 .profits_item:first-child {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 760px) {
  /* s: Root */
  :root {
    /* Font size */
    --font-larger: 44px;
    --font-xlarge: 36px;
    --font-large: 32px;
    --font-medium: 28px;
    --font-regular: 24px;
    --font-small: 22px;
    --font-xsmall: 20px;
    --font-micro: 18px;
  }
  /* e: Root */
  #profits_1 .profits_item {
    height: 220px;
  }
  #profits_1 .profits_item_text {
    top: 24px;
    padding: 0 24px 24px 0;
  }
  #profits_1 .profits_item-num {
    margin-bottom: 80px;
  }
  .section_header-quote {
    line-height: 3rem;
    margin-top: 60px;
  }
  .comparison_vs {
    font-size: 280px;
  }
  .comparison_result {
    line-height: 2.8rem;
  }
  .end-1_button img {
    width: 12px;
  }
  .end-1_msg p {
    line-height: 2.5rem;
  }
  .qna-title {
    line-height: 2.3rem;
  }
  .notice {
    line-height: 2.3rem;
  }
  .warning-content {
    line-height: 1.8rem;
  }
  .container_section {
    margin-bottom: 200px;
  }
  .section_header.subpage {
    margin-bottom: 100px;
  }
  .notice {
    margin-bottom: 120px;
  }
  .warning-title {
    line-height: 1.8rem;
  }
  .badge_title {
    padding: 10px 20px;
  }
  .ad-num, .ad_sub-title {
    margin-bottom: 24px;
  }
  .direct_call-title {
    margin-bottom: 24px;
  }
  .direct_call .call {
    font-size: 54px;
    margin-bottom: 30px;
    max-width: 480px;
    padding: 12px 40px 16px 30px;
  }
  .direct_call .call img {
    width: 52px;
  }
  .section_content-title {
    line-height: 2.5rem;
  }
  .case:nth-child(-n + 2) {
    width: 100%;
    height: 280px;
  }
  .case:nth-child(-n + 2) img {
    width: inherit;
  }
  .direct_thumb {
    padding: 80px 0 120px;
  }
  .profits_item-subtitle {
    margin-bottom: 10px;
  }
  .section_content-subtitle .section_logo {
    height: 23px;
  }
  #main_2 .section_logo {
    height: 28px;
  }
  #main_2 .section_logo-hs {
    height: 46px;
  }
  #main_2 .container_section .section_cross {
    width: 20px;
    margin: 18px 0 12px;
  }
  .direct_thumb-small {
    display: block;
  }
  .direct_thumb img:first-child {
    display: none;
  }
  .ad_sub-title {
    line-height: 2.3rem;
  }
  .ad_sub_content p:last-child {
    line-height: 1.8rem;
  }
  .section_content-title.red {
    margin-bottom: 30px;
    margin-top: 120px;
  }
}

@media screen and (max-width: 600px) {
  .case {
    width: 100%;
  }
  .case img {
    width: inherit;
  }
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }
  .form-group label {
    font-size: var(--font-micro);
    font-family: var(--family-bold);
    width: unset;
    margin-bottom: 12px;
  }
  .form-group input {
    font-size: 16px;
  }
  .link_terms {
    margin-top: 6px;
  }
  .footer_info p, .footer_copy {
    font-size: 16px;
  }
  .footer_info p {
    margin-bottom: 12px;
  }
  
  .direct_call .call {
    font-size: 44px;
    margin-bottom: 30px;
    max-width: 440px;
    padding: 12px 20px 16px 20px;
  }
  .direct_call .call img {
    width: 44px;
    margin-right: 12px;
  }
}

@media screen and (max-width: 560px) {
  .case {
    width: 100%;
    height: 100%;
    font-size: 0;
  }
  .case:nth-child(-n + 2) {
    height: 100%;
  }
  .case img {
    width: inherit;
    height: unset;
  }
  .case_gradient {
    height: 100%;
  }
  .banner_inner {
    width: unset;
    padding: 36px;
  }
  .section_logos {
    flex-direction: column;
  }
  .section_symbol {
    height: 36px;
  }
  .section_logo-hs {
    height: 46px;
  }
  .section_cross {
    width: 20px;
    margin: 18px 0 12px;
  }
  .section_content p {
    line-height: 2.5rem;
  }
  .banner_inner img {
    width: 180px;
  }
}
@media screen and (max-width: 540px) {
  #ad_1 .ad_main img, #ad_2 .ad_main img {
    padding: 0;
  }
}
@media screen and (max-width: 490px) {
  .qna-img_inner {
    width: unset;
  }
  .qna-img_inner img:first-child {
    width: 100%;
  }
  .link_terms {
    clear: both;
    display: block;
  }
  .profits_item {
    width: inherit;
  }
  #main_2 .profits_item-title {
    line-height: 2rem;
  }
  #main_2 .profits_item_text {
    top: 24px;
    left: 24px;
  }
  .profits_item a > img {
    width: unset;
    height: 100%;
  }
}

@media screen and (max-width: 430px) {
  /* s: Root */
  :root {
    /* Font size */
    --font-larger: 36px;
    --font-xlarge: 32px;
    --font-large: 28px;
    --font-medium: 24px;
    --font-regular: 24px;
    --font-small: 20px;
    --font-xsmall: 18px;
    --font-micro: 18px;
  }
  /* e: Root */
  .comparison_vs {
    font-size: 200px;
  }
  .direct_call .call {
    font-size: 36px;
  }
  .direct_call .call img {
    width: 36px;
    margin-right: 8px;
  }
  .section_header-quote {
    line-height: 2.3rem;
  }
  .comparison_result {
    line-height: 2.3rem;
  }
  .form-group.checkbox label, .link_terms {
    font-size: 16px;
  }
  .process_main > img {
    width: 100%;
  }
  .section_content-subtitle .section_logo {
    height: 21px;
  }
  #end-1 .process_step-content p {
    line-height: 2.3rem;
  }
  #profits_1 .profits_item-subtitle {
    line-height: 1.5rem;
  }
}

@media screen and (max-width: 373px) {
  .case_gradient {
    background: linear-gradient(#0000004d, #00000080);
  }
  .case_text {
    padding: 20px 24px;
  }
  #profits_1 .profits_item {
    height: unset;
  }
  #profits_1 .profits_item-num {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 374px) {
  
  .direct_call .call {
    font-size: 28px;
    padding: 12px 20px 12px 20px;
  }
  .direct_call .call img {
    width: 28px;
    margin-right: 8px;
  }
}

















/* ver 2 */
@media screen and (max-width: 1680px) {
  .factory_suggest-3 .factory_title-br {
    display: block;
  }
}
@media screen and (max-width: 1360px) {
  #ad_1 .container_ad_sub {
    flex-direction: column;
  }
  #ad_1 .wrap_ad_sub_content:not(:last-child) {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .ad .badge_title {
    margin-bottom: 140px;
  }
}

@media screen and (max-width: 1330px) {
  .profits_sel_item {
    flex-direction: column;
  }
  .profits_sel_item .wrap_table:first-child {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .profits_sel_item .wrap_table, .profits_sel_item .wrap_table:first-child {
    width: 100%;
  }
  .wrap_table:first-child .profits_item_main tbody tr:first-child td {
    height: 120px;
  }
  .section_content-title {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 1260px) {
  .factory_suggest-2 .factory_title-br {
    display: block;
  }
  .ad_factory-large, .ad_factory-small {
    display: none;
  }
  .ad_factory-medium {
    display: block;
  }
}
@media screen and (max-width: 1240px) {
  .suggest_effect_content {
    font-size: 52px;
    line-height: 4.2rem;
  }
}
@media screen and (max-width: 1200px) {
  .suggest_effect_title {
    margin-bottom: 32px;
  }
  .suggest_effect_content {
    font-size: 48px;
    line-height: 4rem;
  }
  .suggest_card p {
    font-size: 64px;
  }
  .suggest_card p:last-child {
    font-size: 80px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p span {
    font-size: 120px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 110px;
    line-height: 9.4rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 170px;
  }
  .footer_inner {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 0 32px;
  }
  .footer_right {
    margin-bottom: 60px;
  }
  .footer_direct {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer_direct-call {
    margin-left: 0;
    margin: 12px 0;
  }
  .footer_direct span:first-child {
    margin-bottom: 20px;
  }
  .footer_left, .footer_right {
    width: unset;
  }
  .footer_cross {
    margin: 0 20px;
  }
  .ad .direct_call-title br {
    display: block;
  }
  .profits_item_list td {
    width: unset;
  }

  .notice.type2 {
    border: 0;
    background: none;
    font-size: 48px;
    font-family: 'g-Bold';
    color: #f11328;
    margin-bottom: 140px;
    line-height: 3.8rem;
  }
  .notice.type2::after {
    content: "";
    margin: auto;
    display: block;
    width: 650px;
    height: 30px;
    background: #fffb00;
    margin-top: -28px;
  }
  #process_1 .notice.type2::after {
    width: 950px;
  }
  #profits_1 .notice.type2::after {
    width: 800px;
  }
}
@media screen and (max-width: 1218px) {
  .factory_title-cards p {
    font-size: 40px;
  }
}
@media screen and (max-width: 1130px) {
  .suggest_card p {
    font-size: 56px;
  }
  .suggest_card p:last-child {
    margin-top: 10px;
    font-size: 72px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p span {
    font-size: 110px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 100px;
    line-height: 8.6rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 160px;
  }
}
@media screen and (max-width: 1152px) {
  .factory_title-cards div:not(:last-child) {
    margin-right: 12px;
  }
  .factory_title-cards div {
    width: calc((100% /3) - 24px);
  }
  
}
@media screen and (max-width: 1104px) {
  .factory_suggest-3 .suggest_effect:last-child .suggest_effect-right {
    padding-bottom: 100px;
  }
  .wrap_suggest_effects {
    margin: 140px 0 0;
  }
  .suggest_effect-right {
    background: linear-gradient(#ff3f3f, #df0000);
  }
  .suggest_effect-left p {
    margin-bottom: 50px;
  }
  .suggest_effect-right p {
    margin-top: 60px;
  }
  .factory_title-cards div .factory_btn_link {
    padding: 16px 26px 12px;
  }
  .suggest_effect_content {
    flex-direction: column;
    font-size: 56px;
    line-height: 4.3rem;
  }
  .factory_suggest_arrow img {
    transform: rotate(90deg);
  }
  .factory_suggest_arrow {
    right: 0;
    bottom: 0;
    margin-right: 50%;
    margin-bottom: -136px;
    transform: translate(50%, -50%);
  }
  .suggest_effect-left, .suggest_effect-right {
    width: 100%;
    text-align: center;
    justify-content: center;
    height: unset;
    padding: 40px 24px;
  }
  .suggest_effect-left {
    background: linear-gradient(#ffffff, #dbdbdb);
  }
}
@media screen and (max-width: 1080px) {
  .factory_suggest_title-num {
    width: 150px;
    height: 150px;
  }
  .factory_suggest_title-num p {
    font-size: 76px;
  }
  .container_ad_1 {
    padding: 140px 32px 0;
  }
  .profits_item_data tbody tr:last-child span {
    font-size: 22px;
  }
  .profits_item_list tbody td, .profits_item_list thead {
    font-size: 24px;
  }
  .section_header-subtitle {
    margin-bottom: 32px;
  }
  #profits_1 .direct_thumb img:first-child, #profits_1 .direct_thumb .direct_thumb-vertical {
    display: none;
  }
  #profits_1 .direct_thumb .direct_thumb-small {
    display: block;
    width: 100%;
    max-width: 880px;
    margin: auto;
  }
  
  #process_1 .notice.type2::after {
    width: 640px;
  }
  #process_1 .notice.type2 br {
  display: block;
  }
  #process_1 .notice.type2 br.notice_type2_br_after, #profits_1 .notice.type2 br.notice_type2_br_after {
    display: none;
  }
  #process_1 .notice.type2 {
    font-size: 52px;
  }
  #process_1 .notice_type2_medium {
    font-size: 48px;
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 1052px) {
  .factory_title-cards div:not(:last-child) {
    margin-right: 8px;
  }
  .factory_title-cards div {
    width: calc((100% /3) - 16px);
  }
}
@media screen and (max-width: 1030px) {
  .factory_suggest-2 .wrap_suggest_cards {
    display: block;
    padding: 0 16px;
    margin-top: 40px;
  }
  .factory_suggest-2 .suggest_card {
    margin: auto;
  }
  .factory_suggest-2 .suggest_card:last-child {
    margin-top: 100px;
  }
  .factory_suggest-2 .wrap_suggest_cards .factory_suggest_plus {
    position: unset;
    margin: 16px auto;
    transform: translateX(0);
  }
  .suggest_card p {
    font-size: 72px;
  }
  .suggest_card p:last-child {
    margin-top: 16px;
    font-size: 90px;
  }
  .factory_suggest-1 .suggest_card img {
    width: 180px;
    margin-bottom: 36px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 90px;
    line-height: 8rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 140px;
  }
  .factory_title-cards div {
    padding: 32px 20px;
  }
  .factory_title_bg-bottom {
    height: 380px;
  }
  .factory_suggest_title > p {
    font-size: 100px;
    line-height: 7.4rem;
  }
  .factory_suggest_title {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 980px) {
  #process_1 .notice.type2 {
    margin-bottom: 100px;
  }
  #profits_1 .notice.type2 {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 968px) {
  .wrap_suggest_imgs {
    display: block;
    width: 100%;
    max-width: 600px;
  }
  .factory_suggest_plus {
    margin: 16px auto;
  }
  .factory_suggest_arrow {
    box-shadow: 0px 2px 12px #00000066;
  }
  .wrap_suggest_imgs .factory_suggest_plus {
    position: unset;
  }
  .factory_title-cards p {
    font-size: 36px;
  }
  .factory_title-cards div .factory_btn_link {
    font-size: 20px;
  }
  .suggest_img:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 920px) {
  .suggest-3_img p {
    font-size: 56px;
    line-height: 4.4rem;
  }
  .suggest-3_img p span:last-child::after {
    width: 100%;
    bottom: -8px;
  }
  .suggest-3_img p span:last-child {
    font-size: 68px;
    margin-top: 10px;
    display: block;
  }
  .factory_suggest-2 .wrap_suggest_links-title {
    font-size: 64px;
  }
  .wrap_suggest_links {
    padding: 140px 24px;
  }
  .btns_suggest_link a {
    font-size: 44px;
  }
  .wrap_suggest_links-title {
    font-size: 64px;
    margin-bottom: 40px;
  }
  .btns_suggest_link a:not(:last-child) {
    margin-bottom: 20px;
  }
  .profits_item_list tbody td {
    font-size: 24px;
  }
  .profits_item_data tbody tr:last-child span {
    font-size: 20px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 80px;
    line-height: 7.2rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 128px;
  }
}

@media screen and (max-width: 900px) {
  body {
    padding-top: 0;
  }
  .navbar_top_inner {
    padding: 24px;
  }
  .navbar_toggle {
    display: block;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    font-size: 22px;
  }
  .navbar_inner {
    flex-direction: column;
  }
  .navbar_logo {
    width: 160px;
    margin-left: 40%;
  }
  .navbar_menu {
    width: 100%;
  }
  .navbar_menu ul {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
    padding: 0;
  }
  .navbar_menu ul.open {
    display: block;
  }
  .navbar_menu-item {
    color: #fff;
    padding: 38px 20px 32px;
  }
  .navbar_menu-item:hover,
  .navbar_menu-item.selected {
    color: #ffeb0e;
  }
  .go_inquiry span.blink_inquiry {
    display: inline-block;
  }
  .navbar_top_inner div .navbar_call {
    display: none;
  }

  .profits_item_list .wrap_table {
    display: none;
  }
  .container_table_small {
    display: block;
  }
  .container_table_small > p {
    margin-top: 60px;
    font-size: 20px;
    font-family: var(--family-Medium);
    color: #070095;
  }
  #item-2 .container_table_small > p {
    color: #ff3f3f;
  }
  .profits_item_list tbody td:first-child {
    font-size: 24px;
  }
  .profits_item_list tbody td {
    font-size: 28px;
  }
  .profits_item_list td {
    width: 50%;
  }
  .profits_item_list thead {
    font-size: 28px;
  }
  .profits_bubble {
    right: 0;
  }
  #profits_1 .direct_thumb img:first-child, #profits_1 .direct_thumb .direct_thumb-small {
    display: none;
  }
  #profits_1 .direct_thumb .direct_thumb-vertical {
    display: block;
    width: 100%;
    max-width: 270px;
    margin: auto;
  }
  #profits_1 .warning {
    margin: 90px 0 140px;
  }
  #profits_1 .notice.type2 br {
  display: block;
  }
  #profits_1 .notice.type2 {
    font-size: 52px;
    line-height: 4rem;
    margin-bottom: 120px;
  }
  #profits_1 .notice_type2_medium {
    font-size: 44px;
    margin-bottom: 12px;
  }
  #profits_1 .notice.type2::after {
    width: 500px;
    margin-top: -94px;
  }
}

@media screen and (max-width: 890px) {
  .wrap_suggest_cards .factory_suggest_plus {
    position: unset;
    margin: 16px auto;
    transform: translateX(0);
  }
  .wrap_suggest_cards {
    display: block;
    padding: 0 16px;
  }
  .suggest_card {
    margin: auto;
    padding: 50px 0;
  }
  .suggest_card:last-child {
    margin: auto;
  }
  .factory_title_bg-top {
    height: 800px;
  }
  .factory_title_bg-bottom {
    height: 720px;
  }
  .factory_title-text {
    margin-bottom: 80px;
  }
  .factory_title-cards {
    flex-direction: column;
    align-items: center;
  }
  .factory_title-cards div:not(:last-child) {
    margin-right: 0;
  }
  .factory_title-cards div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 12px;
    padding: 40px 20px;
  }
  .factory_title-cards p {
    color: #fff;
    font-size: 46px;
    font-family: 'g-Bold';
  }
  .factory_title-cards div .factory_btn_link {
    font-size: 24px;
    padding: 16px 36px 12px;
  }
  .factory_title-cards div > img {
    margin: 24px 0;
  }
  .factory_title .container_section {
    padding: 140px 16px 150px;
  }
}

@media screen and (max-width: 840px) {
  .wrap_suggest_imgs {
    margin-bottom: 120px;
  }
  .factory_suggest-1 .wrap_suggest {
    padding: 140px 0 120px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p span {
    font-size: 90px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 70px;
    line-height: 6.2rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 110px;
  }
  #factory_1 .section_header-title {
    font-size: 80px;
    line-height: 6rem;
  }
  .factory_suggest_title > p {
    font-size: 80px;
    line-height: 5.8rem;
  }
  .factory_suggest_title-num {
    width: 140px;
    height: 140px;
  }
  .factory_suggest_title-num p {
    font-size: 72px;
  }
}

@media screen and (max-width: 800px) {
  #inquiry .container_section {
    padding: 160px 24px;
  }
  .factory_suggest-2 .wrap_suggest_links-title {
    font-size: 56px;
  }
  .factory_suggest-2 .wrap_suggest_links-title p:last-child {
    font-size: 68px;
    line-height: 5rem;
  }
  .wrap_suggest_links {
    padding: 120px 24px;
  }
  .wrap_suggest_links-title {
    font-size: 60px;
    margin-bottom: 32px;
  }
  .btns_suggest_link a {
    font-size: 40px;
  }
  .section_header-subtitle, #main_1 .section_content {
    font-size: 40px;
    line-height: 3.4rem;
  }
  #factory_1 .section_header.subpage {
    padding-top: 180px;
  }
  #factory_1 .section_header-subtitle {
    margin-bottom: 26px;
  }
  .ad_main img:first-child {
    display: none;
  }
  .form-group {
    display: block;
  }
  .inquiry_input {
    margin-top: 12px;
  }
  .inquiry_inner {
    padding: 100px 24px;
  }
  .form-group {
    display: block;
  }
  .ad_img-small {
    display: block;
  }
  #profits_1 .section_content-title {
    font-size: 52px;
    line-height: unset;
  }
  #profits_1 .section_content_inner {
    margin-top: 180px;
  }
}

@media screen and (max-width: 760px) {
  #factory_1 .section_header-title {
    font-size: 70px;
    line-height: 5.2rem;
  }
  .section_content-title p:first-child {
    margin-bottom: 12px;
  }
  .section_content-title {
    margin-bottom: 60px;
  }
  .profits_sel_item thead span {
    position: unset;
    display: block;
    width: 140px;
    margin: auto;
    margin-bottom: 16px;
    padding: 6px 12px;
  }
  .qna:not(:first-child) {
    padding-top: 120px;
  }
}
@media screen and (max-width: 720px) {
  .factory_suggest-2 .wrap_suggest_links-title {
    font-size: 48px;
    margin-bottom: 80px;
  }
  .factory_suggest-2 .wrap_suggest_links-title p:last-child {
    font-size: 58px;
    line-height: 4rem;
    padding: 14px 20px 4px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 64px;
    line-height: 5.6rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 96px;
  }
  #profits_1 .warning {
    margin: 90px 0 140px;
  }
  .notice.type2 {
    border: 0;
    background: none;
    font-size: 48px;
    font-family: 'g-Bold';
    color: #f11328;
    margin-bottom: 140px;
    line-height: 3.8rem;
    padding: 0;
  }
  .notice.type2::after {
    content: "";
    margin: auto;
    display: block;
    width: 350px;
    height: 30px;
    background: #fffb00;
    margin-top: -94px;
  }
  #profits_1 .notice.type2, #process_1 .notice.type2 {
    font-size: 48px;
    line-height: 3.8rem;
    margin-bottom: 100px;
  }
  #profits_1 .notice_type2_medium, #process_1 .notice_type2_medium {
    font-size: 40px;
    margin-bottom: 12px;
  }
  #profits_1 .notice.type2::after {
    width: 460px;
  }
  
  #process_1 .notice.type2::after {
    width: 600px;
    margin-top: -30px;
  }
  #direct_1 .notice.type2 br {
    display: block;
  }
}

@media screen and (max-width: 680px) {
  .suggest_effect_content {
    font-size: 52px;
    line-height: 4rem;
  }
  .factory_suggest-3 .factory_suggest_title {
    padding: 110px 24px 330px;
  }
  .factory_suggest-2 .wrap_suggest_links {
    margin-top: 130px;
  }
  .factory_suggest-2 {
    padding: 110px 0 180px;
  }
  .ad_factory-large, .ad_factory-medium {
    display: none;
  }
  .ad_factory-small {
    display: block;
  }
  .btns_suggest_link a:not(:last-child) {
    margin-bottom: 12px;
  }
  .wrap_suggest_links-title {
    font-size: 56px;
  }
  .btns_suggest_link a {
    font-size: 36px;;
  }
  .btns_suggest_link a img {
    height: 30px;
  }
  .btns_suggest_link a {
    padding: 24px 28px 16px 32px;
  }
  .factory_suggest_title-num {
    width: 120px;
    height: 120px;
    margin-bottom: 36px;
  }
  .factory_suggest_title-num p {
    font-size: 64px;
  }
  .factory_suggest_title > p {
    font-size: 60px;
    line-height: 4.4rem;
  }
  .section_header-title {
    font-size: 80px;
    line-height: 6rem;
  }
  #factory_1 .section_header-title {
    font-size: 64px;
    line-height: 4.8rem;
  }
  #factory_1 .section_header.subpage {
    padding: 180px 16px 100px;
  }
  .section_header-subtitle br {
    display: block;
  }
  #ad_1 .wrap_ad_sub_content {
    width: 100%;
    max-width: 480px;
    height: 100%;
    padding: 110px 30px 80px;
  }
  #ad_1 .wrap_ad_sub_content:first-child {
    padding: 110px 30px 80px;
  }
  #ad_1 .ad_sub_content_inner {
    width: 100%;
    margin: auto;
  }
  #ad_1 .ad_sub_content_inner p:last-child br {
    display: none;
  }
  #ad_1 .ad-num {
    font-size: 36px;
    padding-left: 50px;
    padding-bottom: 10px;
  }
  #ad_1 .ad_sub-title {
    font-size: 36px;
    line-height: 3rem;
    margin-bottom: 30px;
  }
  #ad_2 .ad_sub-title {
    font-size: 36px;
    line-height: 3rem;
  }
  #ad_2 .ad-num {
    font-size: 36px;
    margin-bottom: 40px;
  }
  #ad_2 .ad-num img {
    width: 36px;
  }
  #ad_1 .ad_sub_content_inner {
    display: unset;
  }
  #ad_1 br.responsive {
    display: block;
  }
  .ad .badge_title {
    font-size: 36px;
    line-height: 2.8rem;
    margin-bottom: 120px;
  }
  .ad_sub {
    padding: 100px 0 200px;
  }
  .ad .direct_call {
    background: #ededed;
    padding: 90px 32px 80px;
  }
  .ad .direct_call-title {
    font-size: 40px;
    line-height: 3.2rem;
  }
  .ad .direct_call .call {
    padding: 20px;
    max-width: 600px;
    width: 100%;
    border: 6px solid #d10000;
    box-shadow: 0 4px 0 #dababa;
    margin: 24px 0 44px;
  }
  .ad .direct_call .call img {
    width: 48px;
    margin-right: 24px;
  }
  .ad .direct_call .call span {
    font-size: 52px;
    margin-top: 5px;
  }
  #profits_1 .section_content-title {
    font-size: 40px;
  }
  .profits-warning_br {
    display: block;
  }
  .profits-small {
    font-size: 18px;
  }
  .profits_main-title {
    font-size: 44px;
  }
  .wrap_table:first-child .profits_item_main tbody tr:first-child td {
    height: 100px;
  }
  .profits_item_main tbody tr:first-child td {
    height: 200px;
  }
  .inquiry_header-title {
    font-size: 56px;
  }
  #profits_1 .section_content_inner {
    margin-top: 140px;
  }
  #profits_1 .notice.type2, #process_1 .notice.type2 {
    font-size: 44px;
    line-height: 3.4rem;
  }
  #process_1 .notice.type2::after {
    width: 560px;
  }
  #profits_1 .notice.type2::after {
    width: 420px;
    margin-top: -84px;
  }
  #profits_1 .warning {
    margin: 90px 0 110px;
  }
}

@media screen and (max-width: 640px) {
  .factory_suggest-1 .wrap_suggest {
    padding: 130px 0 120px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p span {
    font-size: 70px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 56px;
    line-height: 5rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 88px;
  }
  .navbar_logo {
    width: 140px;
    margin-left: 5%;
  }
  .go_inquiry span {
    display: none;
  }
  .go_inquiry a:link, .go_inquiry a:visited {
    padding: 10px 24px 8px 8px;
  }
  .blink_inquiry {
    right: 6px;
  }
  #inquiry .section_cross {
    width: 18px;
  }
  #inquiry .section_symbol {
    height: 34px;
  }
  #inquiry .section_logo-hs {
    height: 44px;
  }
  .section_header-title {
    font-size: 64px;
    line-height: 5rem;
  }
  .link_terms {
    display: block;
    margin-top: 10px;
    margin-left: 32px;
  }
  .inquiry_header-subtitle {
    font-size: 24px;
    line-height: 2.4rem;
  }
  .inquiry_header-title {
    margin: 70px 0 60px;
  }
  .section_header {
    padding: 200px 32px 80px;
  }
  .notice.type2 {
    font-size: 40px;
    line-height: 3rem;
    margin-bottom: 120px;
  }
  .notice.type2::after {
    width: 290px;
    margin-top: -74px;
  }
  #profits_1 .notice_type2_medium, #process_1 .notice_type2_medium {
    font-size: 32px;
    margin-bottom: 12px;
  }
  #profits_1 .notice.type2, #process_1 .notice.type2 {
    font-size: 40px;
    line-height: 3rem;
  }
  #process_1 .notice.type2::after {
    width: 500px;
    margin-top: -24px;
  }
  #profits_1 .notice.type2::after {
    width: 380px;
    margin-top: -74px;
  }
  .notice.type2::after {
    height: 26px;
  }
}

@media screen and (max-width: 620px) {
  .factory_suggest-2 .btns_suggest_link {
    padding: 0 16px;
  }
  .wrap_suggest_effects {
    margin: 120px 0 0;
  }
  .suggest_effect:not(:last-child) {
    margin-bottom: 120px;
  }
  .suggest_effect_title {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .suggest_effect_content {
    font-size: 44px;
    line-height: 3.4rem;
  }
  .factory_suggest-2 .wrap_suggest_links {
    margin-top: 120px;
  }
  .factory_suggest-2 .wrap_suggest_links-title {
    font-size: 40px;
    margin-bottom: 70px;
  }
  .factory_suggest-2 .wrap_suggest_links-title p:last-child {
    font-size: 48px;
    line-height: 3.4rem;
    padding: 14px 20px 4px;
  }
  .wrap_suggest_links {
    padding: 120px 16px;
  }
  .factory_title-text {
    margin-bottom: 60px;
  }
  .factory_title_bg-bottom {
    height: 680px;
  }
  #factory_1 .section_header-title {
    font-size: 56px;
    line-height: 4rem;
  }
  .inquiry_header-title {
    font-size: 48px;
  }
  .factory_title-text p {
    font-size: 56px;
    line-height: 4rem;
  }
  .factory_title p:last-child span {
    font-size: 60px;
    padding: 8px 8px 0;
  }
  .factory_title p:last-child {
    margin-top: 12px;
  }
}

@media screen and (max-width: 600px) {
  #inquiry .container_section {
    padding: 140px 32px;
  }
  .wrap_table:last-child .profits-small br {
    display: block;
  }
  .profits_main-terms p:first-child {
    font-size: 26px;
    line-height: 2.4rem;
  }
}

@media screen and (max-width: 580px) {
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 50px;
    line-height: 4.6rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 76px;
  }
}

@media screen and (max-width: 570px) {
  .factory_suggest-3 .factory_suggest_title {
    padding: 100px 16px 330px;
  }
  .factory_suggest-2 {
    padding: 100px 0 150px;
  }
  .btns_suggest_link a img {
    margin-top: -5px;
  }
  .wrap_suggest_links {
    padding: 100px 16px;
  }
  .btns_suggest_link a:not(:last-child) {
    margin-bottom: 8px;
  }
  .wrap_suggest_links-title {
    font-size: 50px;
    margin-bottom: 28px;
  }
  .btns_suggest_link a {
    font-size: 28px;;
  }
  .btns_suggest_link a img {
    height: 24px;
  }
  .btns_suggest_link a {
    padding: 18px 24px 13px 30px;
  }
  #process_1 .notice.type2 br.notice_type2_br_after {
    display: block;
  }
  #process_1 .notice.type2 .notice_type2_medium br.notice_type2_br_after {
    display: none;
  }
  #process_1 .notice.type2::after {
    width: 230px;
    margin-top: -76px;
  }
  #profits_1 .notice_type2_medium, #process_1 .notice_type2_medium {
    font-size: 30px;
    line-height: 2.4rem;
  }
}

@media screen and (max-width: 560px) {
  .factory_title .container_section {
    padding: 110px 16px 0;
  }
  .factory_title_bg-bottom {
    height: 650px;
  }
  .factory_title-text p {
    font-size: 48px;
    line-height: 3.6rem;
  }
  .factory_title p:last-child span {
    font-size: 52px;
    padding: 8px 8px 0;
  }
  .factory_title p:last-child {
    margin-top: 10px;
  }
  #factory_1 .section_header-title {
    font-size: 48px;
    line-height: 3.6rem;
  }
  #factory_1 .section_header.subpage {
    padding: 160px 16px 80px;
  }
  .profits_main-subtitle {
    font-size: 28px;
    line-height: 2.4rem;
  }
  .profits_main-title {
    font-size: 36px;
    line-height: 3.2rem;
  }
  .profits_item_main tbody td {
    padding: 10px 10px 24px;
  }
  .profits_main-terms br {
    display: block;
  }
  #profits_1 .notice.type2 .notice_type2_medium br.notice_type2_br_after {
    display: block;
  }
  .container_process {
    width: 100%;
    max-width: 480px;
  }
  .process_step {
    font-size: 34px;
  }
  .process_step-content p {
    font-size: 32px;
  }
  .process_main {
    margin-bottom: 30px;
  }
  .process_main div {
    margin-top: 20px;
  }
  .process {
    margin-bottom: 90px;
  }
  .container_section + .direct_call {
    padding: 180px 16px 100px;
  }
}
@media screen and (max-width: 530px) {
  .suggest_effect:not(:last-child) {
    margin-bottom: 100px;
  }
  .factory_suggest-3 .suggest_effect:last-child .suggest_effect-right {
    padding-bottom: 60px;
  }
  .wrap_suggest_effects {
    margin: 100px 0 0;
  }
  .suggest_effect_title {
    font-size: 54px;
  }
  .suggest_effect_content {
    font-size: 36px;
    line-height: 2.8rem;
  }
  .suggest-3_img {
    height: 400px;
  }
  .suggest-3_img img {
    height: 100%;
  }
  .suggest-3_img p {
    font-size: 48px;
    line-height: 3.4rem;
  }
  .suggest-3_img p span:last-child {
    font-size: 56px;
  }
  .factory_suggest-2 .wrap_suggest_links {
    margin-top: 100px;
  }
  .factory_suggest-2 .wrap_suggest_links-title p br {
    display: block;
  }
  .factory_suggest-2 .wrap_suggest_links-title {
    margin-bottom: 60px;
    line-height: 3rem;
  }
  .factory_suggest-2 .wrap_suggest_links-title p:last-child {
    font-size: 44px;
    line-height: 3.2rem;
  }
  .factory_suggest_title > p {
    font-size: 48px;
    line-height: 3.4rem;
  }
  .factory_suggest_title > p {
    font-size: 48px;
  }
  .factory_suggest-2 .suggest_card:last-child {
    margin-top: 20%;
  }
  .factory_suggest_arrow {
    width: 110px;
    height: 110px;
    border: 6px solid #ff3f3f;
  }
  .factory_suggest_arrow img {
    width: 64px;
  }
  .factory_suggest_arrow {
    margin-bottom: -110px;
  }
  .suggest_effect-left p {
    margin-bottom: 30px;
  }
  .suggest_effect-right p {
    margin-top: 30px;
  }
}
@media screen and (max-width: 520px) {
  .factory_suggest-3 .factory_suggest_title {
    padding: 80px 16px 300px;
  }
  .factory_suggest-2 {
    padding: 80px 0 120px;
  }
  .wrap_suggest_links {
    padding: 80px 16px;
  }
  .wrap_suggest_links-title {
    line-height: 3.8rem;
  }
  .wrap_suggest_links-title br {
    display: block;
  }
  .suggest_card p {
    font-size: 68px;
  }
  .suggest_card p:last-child {
    font-size: 80px;
    margin-top: 8px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 47px;
    line-height: 4.4rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 74px;
  }
  .suggest_img:last-child img {
    border: 6px solid #ff3f3f;
  }
  .factory_suggest_title {
    margin-bottom: 56px;
  }
  .suggest_img:last-child > p {
    margin-top: calc(18px + 36px);
  }
  .suggest_img > p {
    font-size: 54px;
    line-height: 4rem;
  }
  .suggest_img div {
    height: 60px;
  }
  .suggest_img div p {
    font-size: 32px;
  }
  .factory_suggest_plus {
    width: 110px;
    height: 110px;
    border: 6px solid #ff3f3f;
  }
  .factory_suggest_plus img {
    width: 64px;
  }
  .factory_title_bg-bottom {
    height: 630px;
  }
  .factory_suggest_title-num {
    width: 110px;
    height: 110px;
    margin-bottom: 30px;
  }
  .factory_suggest_title-num p {
    font-size: 56px;
  }
  .section_header-subtitle {
    font-size: 32px;
    line-height: 2.4rem;
  }
  .section_header {
    padding: 200px 24px 70px;
  }
  .section_header-title {
    font-size: 48px;
    line-height: 4rem;
  }
  .inquiry_header-title {
    font-size: 40px;
    line-height: 3rem;
  }
  #inquiry .section_header {
    padding-bottom: 80px
  }
  .inquiry_inner {
    padding: 60px 24px;
  }
  #inquiry .section_logos {
    flex-direction: column;
  }
  #inquiry .section_cross {
    margin: 10px 0 8px;
  }
  #inquiry .section_symbol {
    height: 34px;
  }
  #inquiry .section_logo-hs {
    height: 44px;
  }
  .inquiry_ann br {
    display: none;
  }

  /* Footer */
  .footer_logos {
    flex-direction: column;
  }
  .footer_cross {
    width: 18px;
    margin: 12px 0 10px;
  }
  .footer_info-name + span {
    margin-left: 0;
    display: block;
    margin-top: 16px;
  }
  .ad_sub {
    padding: 120px 0 160px;
  }
  .badge_title {
    margin-bottom: 100px;
  }

  .ad .direct_call {
    padding: 70px 32px 80px;
  }
  .ad .direct_call .call span {
    font-size: 44px;
  }
  .ad .direct_call .call {
    margin: 20px 0 40px;
  }
  .ad .direct_call .call img {
    width: 40px;
    margin-right: 16px;
  }
  .ad .direct_call p:last-child {
    font-size: 24px;
  }

  .wrap_table_small + p {
    margin-top: 40px;
    font-size: 18px;
    line-height: 1.6rem;
  }
  .container_section {
    padding: 0 24px;
  }
}

@media screen and (max-width: 480px) {
  #inquiry .container_section {
    padding: 120px 24px;
  }
  .btns_suggest_link a {
    font-size: 24px;
    padding: 16px 20px 12px 24px
  }
  .wrap_suggest_links-title {
    font-size: 46px;
    line-height: 3.4rem;
    margin-bottom: 24px;
  }
  .wrap_suggest_imgs {
    margin-bottom: 100px;
  }
  .factory_suggest-1 .wrap_suggest {
    padding: 100px 0 80px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p span {
    font-size: 56px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 40px;
    line-height: 4rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 68px;
  }
  .factory_title_bg-bottom {
    height: 600px;
  }
  .factory_title-text {
    margin-bottom: 40px;
  }
  .factory_title-text p {
    font-size: 39px;
    line-height: 3rem;
  }
  .factory_title p:last-child span {
    font-size: 42px;
    padding: 8px 8px 0;
  }
  .factory_title p:last-child {
    margin-top: 8px;
  }
  #factory_1 .section_header.subpage {
    padding: 140px 16px 60px;
  }
  .section_header {
    padding: 200px 16px 80px;
  }
  #factory_1 .section_header-title {
    font-size: 39px;
    line-height: 3rem;
  }
  .footer_inner {
    padding: 0 24px;
  }
  #footer {
    font-size: 16px;
  }
  #ad_1 .ad-num {
    font-size: 28px;
    padding-left: 30px;
    padding-bottom: 8px;
  }
  #ad_1 .ad_sub-title {
    font-size: 28px;
    line-height: 2.4rem;
    margin-bottom: 24px;
  }
  #ad_2 .ad_sub-title {
    font-size: 28px;
    line-height: 2.4rem;
    margin-bottom: 24px;
  }
  #ad_2 .ad_sub_content_inner p:last-child {
    font-size: 24px;
    line-height: 2.2rem;
  }
  #ad_2 .ad-num {
    font-size: 28px;
    margin-bottom: 30px;
  }
  #ad_2 .ad-num img {
    width: 30px;
  }
  #ad_2 .wrap_ad_sub_content:not(:last-child) {
    margin-bottom: 80px;
  }
  .ad_sub-title img {
    height: 28px;
  }
  #ad_1 .wrap_ad_sub_content:first-child {
    padding: 90px 30px 70px;
  }
  #ad_1 .ad_sub_content_inner p:last-child {
    font-size: 24px;
    line-height: 2.2rem;
  }
  #ad_1 .wrap_ad_sub_content > img {
    width: 200px;
    right: -118px;
    bottom: -110px;
  }
  .ad .badge_title {
    font-size: 32px;
    line-height: 2.4rem;
    padding: 24px 24px 20px;
    border: 4px solid #fff;
    margin-bottom: 80px;
  }
  .ad_sub {
    padding: 70px 0 130px;
  }
  .ad .direct_call {
    padding: 80px 24px 80px;
  }
  .ad .direct_call .call span {
    font-size: 40px;
  }
  
  .form-group.checkbox input {
    margin-right: 8px;
  }
  .form-group.checkbox label {
    font-size: 16px;
  }
  .form-group.checkbox {
    padding: 14px 0 20px;
  }
  .link_terms {
    display: block;
    margin-top: 10px;
    margin-left: 24px;
  }
  .profits_item_list tbody td:first-child {
    font-size: 22px;
  }
  table td {
    height: 64px;
  }
  .table_small_br {
    display: block;
  }
  .profits_item_list tbody td, .profits_item_list thead {
    font-size: 24px;
  }
  #profits_1 .section_content_inner {
    margin-top: 120px;
  }
  #profits_1 .section_content-title {
    font-size: 36px;
  }
  .profits_main-subtitle {
    font-size: 26px;
    line-height: 2.2rem;
  }
  .wrap_table:last-child .profits_main-title {
    display: none;
  }
  .wrap_table:last-child .profits_main-title.small {
    display: block;
  }
  
  .profits_main-subtitle br:last-child {
    display: block;
  }
  .process_step-content p {
    font-size: 28px;
  }
  .process_step-content p:first-child {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 440px) {
  .suggest-3_img p {
    font-size: 39px;
    line-height: 3rem;
  }
  .suggest-3_img p span:last-child {
    font-size: 48px;
    margin-top: 6px;
  }
  .factory_suggest_title > p {
    font-size: 39px;
    line-height: 3rem;
  }
}
@media screen and (max-width: 430px){
  .factory_suggest_arrow {
    margin-bottom: -96px;
  }
  .suggest_effect-left p {
    margin-bottom: 24px;
  }
  .suggest_effect-right p {
    margin-top: 24px;
  }
  .factory_suggest-2 .wrap_suggest_links {
    margin-top: 80px;
  }
  .factory_suggest-2 .wrap_suggest_links-title {
    font-size: 36px;
    line-height: 2.8rem;
    margin-bottom:40px;
  }
  .factory_suggest-2 .wrap_suggest_links-title p:last-child {
    font-size: 40px;
    line-height: 3rem;
    margin-top: 6px;
  }
  .suggest_img div {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .suggest_img:last-child img {
    border: 6px solid #ff3f3f;
  }
  .factory_suggest_title {
    margin-bottom: 42px;
  }
  .factory_suggest_plus, .factory_suggest_arrow {
    width: 96px;
    height: 96px;
    border: 5px solid #ff3f3f;
  }
  .factory_suggest_plus img, .factory_suggest_arrow img {
    width: 56px;
  }
  .suggest_img:last-child > p {
    margin-top: calc(18px + 28px);
  }
  .suggest_img div {
    height: 48px;
  }
  .suggest_img div p {
    font-size: 28px;
  }
  .suggest_img > p {
    font-size: 48px;
    line-height: 3.6rem;
  }
  .m_del {
    display: none;
  }
  .profits_bubble {
    width: 240px;
  }
  .profits_item_list > div {
    padding-top: 120px;
  }
  .profits_bubble {
    top: 210px;
  }
  /* for MS계열 브라우저 */
  @keyframes profits_bubble {
    0% {top: 200px;}
    50% {top: 205px;}
  }
    
  /* for Chrome, Safari */
  @-webkit-keyframes profits_bubble {
    0% {top: 200px;}
    50% {top: 205px;}
  }

  .wrap_table:first-child .profits-small br {
    display: block;
  }
  #profits_1 .section_content-title {
    font-size: 30px;
    line-height: 1.6rem;
    margin-bottom: 40px;
  }
  .notice.type2 {
    font-size: 36px;
    line-height: 2.8rem;
  }
  #profits_1 .notice.type2, #process_1 .notice.type2 {
    font-size: 36px;
    line-height: 2.8rem;
  }
  #profits_1 .notice.type2::after {
    width: 340px;
  }
  #process_1 .notice.type2::after {
    width: 220px;
  }
  #process_1 .notice.type2 .notice_type2_medium br.notice_type2_br_after {
    display: block;
  }
  .notice.type2::after {
    width: 260px;
    margin-top: -74px;
  }
  .container_section + .direct_call {
    padding: 120px 16px 100px;
  }
}

@media screen and (max-width: 420px) {
  .wrap_suggest_links-title {
    font-size: 40px;
    line-height: 2.8rem;
  }
  .btns_suggest_link a {
    font-size: 22px;
    padding: 16px 20px 12px 24px
  }
  .btns_suggest_link a img {
    height: 20px;
  }
  .factory_suggest-1 .suggest_card img {
    width: 160px;
    margin-bottom: 28px;
  }
  .suggest_card p {
    font-size: 60px;
  }
  .suggest_card p:last-child {
    font-size: 72px;
    margin-top: 6px;
  }
  .wrap_suggest_imgs {
    margin-bottom: 80px;
  }
  .factory_suggest-1 .wrap_suggest {
    padding: 80px 0 60px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p span {
    font-size: 48px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 36px;
    line-height: 3.6rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 60px;
  }
  .factory_suggest_title-num {
    width: 100px;
    height: 100px;
    margin-bottom: 26px;
  }
  .factory_suggest_title-num p {
    font-size: 54px;
  }
  .factory_title_bg-bottom {
    height: 580px;
  }
  .factory_title-cards p {
    font-size: 40px;
  }
  .section_header-title {
    font-size: 39px;
    line-height: 3rem;
  }
  .section_header {
    padding: 200px 16px 80px;
  }
  #inquiry button br {
    display: block;
  }
  .inquiry_header-title {
    font-size: 36px;
  }
  .footer_direct-call {
    font-size: 40px;
  }
  .end-1_warning-content {
    font-size: 20px;
    line-height: 2.3rem;
  }
  .ad .direct_call-title {
    font-size: 36px;
    line-height: 3rem;
  }
  .ad .direct_call p:last-child {
    font-size: 18px;
  }
  .ad .direct_call .call {
    padding: 20px 12px;
  }
  .ad .direct_call .call span {
    font-size: 36px;
  }
  .ad .direct_call .call img {
    width: 36px;
    margin-right: 10px;
  }
  .profits_item_list tbody td:first-child {
    font-size: 20px;
  }
  .profits_item_list tbody td, .profits_item_list thead {
    font-size: 22px;
  }
  .profits_item_main thead {
    font-size: 30px;
  }
  .wrap_table:last-child .profits-warning br {
    display: none;
  }
  .profits_main-terms p:first-child {
    font-size: 24px;
    line-height: 2.1rem;
  }
  .process .process_step-content br {
    display: block;
  }
  .process_step-content p {
    line-height: 2.2rem;
  }
  .process_step {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .process_step-num {
    margin-right: 12px;
  }
}
@media screen and (max-width: 400px) {
  .suggest_effect_title {
    font-size: 48px;
  }
  .suggest_effect_content {
    font-size: 34px;
    line-height: 2.4rem;
  }
  .suggest_effect:not(:last-child) {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 390px) {
  #factory_1 .section_header-subtitle br {
    display: block;
  }
  #profits_1 .notice.type2 br.notice_type2_br_after {
    display: block;
  }
  #profits_1 .notice.type2::after {
    width: 210px;
  }
  .btns_suggest_link a {
    font-size: 20px;
    padding: 14px 16px 10px;
  }
}

@media screen and (max-width: 380px) {
  #inquiry .container_section {
    padding: 100px 24px;
  }
  .suggest_effect_content {
    font-size: 32px;
    line-height: 2.4rem;
  }
  .factory_suggest-3 .factory_suggest_title {
    padding: 60px 16px 300px;
  }
  .factory_suggest-2 {
    padding: 60px 0 90px;
  }
  .wrap_suggest_links {
    padding: 60px 16px;
  }
  .factory_suggest-1 .suggest_card img {
    width: 140px;
    margin-bottom: 20px;
  }
  .suggest_card p {
    font-size: 56px;
  }
  .suggest_card p:last-child {
    font-size: 64px;
  }
  .suggest_card {
    padding: 40px 0;
  }
  #factory_1 .section_header-title {
    font-size: 38px;
    line-height: 3rem;
  }
  .profits-warning br.profits-warning_br_2 {
    display: block;
  }
  .inquiry_header-title {
    line-height: 2.6rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 32px;
    line-height: 3.2rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 56px;
  }
}

@media screen and (max-width: 371px) {
  .suggest_effect:not(:last-child) {
    margin-bottom: 60px;
  }
  .suggest_effect_title {
    margin-bottom: 0;
    font-size: 44px;
  }
  .suggest-3_img p {
    font-size: 37px;
    line-height: 2.9rem;
  }
  .suggest-3_img p span:last-child {
    font-size: 40px;
  }
  .suggest-3_img p span:last-child::after {
    width: 248px;
    left: 12px;
    bottom: -3px;
  }
  .factory_suggest_title > p {
    font-size: 37px;
    line-height: 2.9rem;
  }
  .factory_title_bg-bottom {
    height: 620px;
  }
  .factory_title p:last-child {
    font-size: 42px;
    line-height: 3.6rem;
  }
  #factory_1 .section_header-title {
    font-size: 37px;
    line-height: 2.9rem;
  }
  .ad .direct_call .call span {
    font-size: 29px;
  }
  .ad .direct_call .call img {
    width: 32px;
    margin-right: 8px;
  }
  .footer_inner {
    padding:0 19px;
  }
  #footer {
    font-size: 15px;
  }
  .footer_info p {
    margin-bottom: 10px;
  }
  .form-group.checkbox br {
    display: block;
  }
  
  .form-group.checkbox label span {
    margin-left: 25px;
  }
  .profits_sel_item thead span {
    font-size: 22px;
  }
  .profits_item_main thead {
    font-size: 26px;
  }
  
  #profits_1 .section_content-title {
    font-size: 28px;
  }
  .section_content-title {
    margin-bottom: 20px;
  }
  #profits_1 .section_content_inner {
    margin-top: 100px;
  }
}
@media screen and (max-width: 368px) {
  .factory_title-cards div .factory_btn_link {
    padding: 16px 26px 12px;
  }
}

@media screen and (max-width: 360px) {
  .qna:not(:first-child) {
    padding-top: 100px;
  }
  .suggest_img div p {
    font-size: 24px;
  }
  .factory_title-cards div .factory_btn_link 
  #factory_1 .section_header-title {
    font-size: 36px;
    line-height: 2.8rem;
  }
  .section_header-subtitle {
    font-size: 28px;
    line-height: 2rem;
    margin-bottom: 24px;
  }
  #factory_1 .section_header-subtitle{
    margin-bottom: 20px;
  }
  .process_step {
    flex-direction: column;
  }
  .process_step-num {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 352px) {
  #factory_1 .section_header-title {
    font-size: 35px;
    line-height: 2.8rem;
  }
  #factory_1 .section_header-title {
    font-size: 34px;
    line-height: 2.6rem;
  }
}

@media screen and (max-width: 350px) {
  .wrap_table:last-child .profits-small br {
    display: none;
  }
  #profits_1 .section_content-title {
    font-size: 24px;
    line-height: 1.2rem;
  }
  .factory_title-cards p {
    font-size: 36px;
  }
  .factory_title_bg-bottom {
    height: 610px;
  }
}
@media screen and (max-width: 348px) {
  .wrap_suggest_imgs {
    margin-bottom: 68px;
  }
  .factory_suggest-1 .wrap_suggest {
    padding: 60px 0 40px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p span {
    font-size: 40px;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 30px;
    line-height: 3rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 54px;
  }
  .factory_title-cards div .factory_btn_link {
      font-size: 20px;
  }
}
@media screen and (max-width: 340px) {
  .factory_suggest_title > p {
    font-size: 35px;
    line-height: 2.8rem;
  }
  .profits_item_list tbody td, .profits_item_list thead {
    font-size: 20px;
  }
  .profits_item_list table td, .profits_item_main table td {
    padding: 24px 5px;
  }
  .profits_item_main thead {
    font-size: 24px;
  }
  #profits_1 .notice_type2_medium, #process_1 .notice_type2_medium {
    font-size: 28px;
    line-height: 2.4rem;
  }
}
@media screen and (max-width: 334px) {
  .factory_suggest-2 .wrap_suggest_links {
    margin-top: 60px;
  }
  .factory_suggest-2 .wrap_suggest_links-title {
    font-size: 32px;
    line-height: 2.6rem;
    margin-bottom: 30px;
  }
  .factory_suggest-2 .wrap_suggest_links-title p:last-child {
    font-size: 40px;
    line-height: 3rem;
    padding: 10px 16px 2px;
    margin-top: 6px;
  }
  .suggest_card p {
    font-size: 50px;
  }
  .suggest_card p:last-child {
    font-size: 58px;
  }
  #factory_1 .section_header-title {
    font-size: 32px;
    line-height: 2.6rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title > p {
    font-size: 29px;
    line-height: 3rem;
  }
  .factory_suggest-1 .wrap_suggest .factory_suggest_title .SDSamlip_Outline {
    font-size: 50px;
  }
}
@media screen and (max-width: 327px) {
  .factory_title-cards p {
    font-size: 32px;
  }
  .factory_title-cards div .factory_btn_link {
      padding: 16px 20px 12px;
  }
}